<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Wallet Management System</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
	<h1 align=center>Wallet</h1>
	<div style="padding-left: 10px" align=right
		sec:authorize="isAuthenticated()">
		Welcome <b><span style="color: green; font-style: italic;"
			sec:authentication="name">Username </span></b>&nbsp; ! &nbsp;&nbsp;
		&nbsp;

		<form th:action="@{/logout}" method="post">
			<input style="position: right" type="submit" value="Logout" />
		</form>
	</div>
	<div class="container my-2"></div>
</body>
</html>
